html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#map {
    height: 100%;
}

#location {
    height: 25px;
    width: 25%;
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid transparent;
    margin-top: 10px;
    border-radius: 1px;
    box-shadow: 0 2px 6px lightslategrey;
    text-indent: 5px;
}